*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(224, 224, 224);
}

/* header */
.logo img{
    width: 100px;
    padding: 5px 20px;
}
/* barra de menú */
.container_menu, footer{
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    background: #1f5694;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a {
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a {
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a {
    height: 100%;
    height: 100%;
    display: flex;
    color:azure;
    padding: 10px;
    align-items: center;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #588bc5;
}

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
    transition: all 300ms ease;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #0099e9;
    padding: 6px;
    padding-left: 14px;
    font-size: 14px;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: #0099e9;
    color:  #fff;
    padding-left: 30px;
    transform: scale(1.1);
}
/* main */
main{
    width: 100%;
    background: #f0f0f0;
    padding: 40px 20xp;
    display: flex;
    margin-top: 110px;
}
article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}
.titulo__textoEncriptar{
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A3871;
}

/*reponsive*/
.icon__menu{
    font-size: 26px;
    color: white;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__check__menu{
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}
.textoEncriptar{
    width: 100%;
}

.contenedor__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contenedor__redesSociales a{
    color: white;
}

.divBotonesEncriptar,.divAreaTexto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:720px){
    .logo{
        width: 80px;
        padding: 0px 10px;
    }
    .container_menu{
        padding: 0px 10px;
    }
    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        top: 158px;
        left: 0;
        width: 100%;
        transition: all 30ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    nav ul li ul {
        left: 90px;
    }

    nav ul li:hover ul {
        top: 50px;
    }
    nav>ul>li:first-child a{
        background-position: 20px;
    }

    .icon__menu{        
        display: flex;
    }

    .icon__menu:hover{        
        transform: scale(1.2);
        cursor: pointer;
    }

    #label__check__menu{
        display: block;
    }

    #check__menu:checked ~ nav>ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
}